# Mujarrad API Configuration
MUJARRAD_API_PUBLIC_KEY=pk_live_yszkUSPYREDoDhJy1VuY3-hsn0E65DZT
MUJARRAD_API_SECRET_KEY=sk_live_4oTkA8J-Y-3WULnQT2rmZVdQn9pmNIY3qT6l9rjVs8QXAezSXMyrzIVWYigc3Q1A
MUJARRAD_SPACE_SLUG=task-manager-demo

# Server Configuration
PORT=3000
